.topicwrapper{
    padding: 80px;
    background-color: #58c7ff;
    width: 50vw;
}
.h2{
    font-size: 76px;
    line-height: 80px;
    margin-bottom: 16px;
    font-family: Helvetica,Arial,sans-serif;
    color: #fff;
}
.share{
    font-size: 19px;
    line-height: 32px;
    font-family: Helvetica,Arial,sans-serif;
    color: #fff;
    margin-bottom: 72px;
}
.link{
    padding: 0 2px;
    line-height: 1.6;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.link:hover{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 0 2px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 2);
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 600;
}