.formcontrol{
    font-family: Helvetica,Arial,sans-serif;
    color:#fff;
    font-weight: 400px;
    width: fit-content;
}
.option{
    line-height: 1.6;
}
.key{
    padding-left: 5px;
}
.head{
    font-family: Helvetica,Arial,sans-serif;
    color:#fff;
    font-size: 22px;
    line-height: 50px;
}
